* {
    cursor: crosshair;
    box-sizing: border-box;
    box-sizing:border-box;
    clear:all;
    padding:0;
    margin:0;
}

body {
    min-height:100vh;
}

.circle {
    width:50px; height:50px;
    border-radius:50%;
    background:black;
    display:inline-block;
    
    transition:transform 0.4s;
    position:fixed;
    cursor:crosshair;
}

#cursor_circle {
    
}

#cursor_circle:active {
    border:1px solid #000;
    background:transparent;
}


