@font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-book-webfont.woff2') format('woff2');
    font-weight:normal;
  }

  @font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-book-italic-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style:italic
  }

  @font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-bold-webfont.woff2') format('woff2');
    font-weight:bold;
  }

  @font-face {
    font-family: 'Standard';
    src: url('webfonts/standard-bold-italic-webfont.woff2') format('woff2');
    font-weight:bold;
    font-style:italic
  }


  *,
  a::after,
  a::before {
    box-sizing:border-box;
    clear:all;
    padding:0;
    margin:0;
  }

  body {
    font-family:'Standard';
    transition:background 2s;
    min-height:5000px;
  }

h1 {
    position:fixed;
    right:0;
    text-align:right;
    padding:1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:1em;
}

  h3 {
    /* display:inline-block; */
    font-size:4em;
    
  }

  h3::after {
    content: '  ';
    margin-right:0.5em;
  }

  h3:hover {
    color:rgba(0,0,0,0.5)
  }

.blueBG {
  background:blue;
}

.circle {
    width:50px; height:50px;
    border-radius:50%;
    background:black;
    display:inline-block;
    margin:1rem;
    transition:transform 0.4s;
}

.circle:hover,
.circle.active {
    transform:scale(30%)
}

.second-hand {
  width:250px; height:50px;
  background:black;
  position:fixed;
  top:1em;
  left:375px;
  border-radius:25px;
  transform-origin: 25px 25px;
}

#students {
    padding:1rem;
    /* width:80%;    */
    
}

